*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
    background: #f55a5a;
    width: 100%;
    padding: 10px 26px;
}
.logo{
    max-width: 100px;
    max-height: 25px;
}
.navbar_text{
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 5px;
}
.section{
    display: flex;
    padding: 10px 0 0 25px;
}
.location_side{
    flex: 1;
    display: flex;
    padding: 15px 20px;
    gap: 5px;
}
.location_icon{
    color: #f55a5a;
    max-height: 12px;
    margin-top: -2px;
}

.location_image{
    flex: 1;
    height: 160px;
}
.location{
    margin-top: -2px;
    font-size: 12px;
}

.link{
    font-size: 10px;
    color: gray;
    margin-top: -2px;
    margin-left: 2px;
    width: 100px;
}
.location_name_section{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 870px;
    margin-left: -800px;
}
.location_name{
    font-weight: bold;
    font-size: 20px;
    margin-top: 2px;
}
.duration{
    margin-top: 2px;
    font-size: 10px;
    font-weight: bold;
    color: #3a3748;
}
.location_info{
    width: 330px;
    margin-top: 5px;
    margin-left: 2px;
    color: #b7b6bc;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }
    .navbar_text{
        margin-top: 10px;
    }
    .section{
        padding: 15px;
        flex-direction: column;
    }
    .location_side{
        flex-direction: row;
        /*align-items: center;*/
        padding: 5px;
    }
    .location_name_section{
        margin-top: 6px;
        margin-right: 1px;
        margin-left: 1px;
        /*align-items: center;*/
    }
    .location_info{
        width: 50%;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .navbar{
        padding: 10px;
    }
    .section{
        padding: 5px;
    }
    .location_side{
        padding: 10px;
    }
    .location_name_section{
        margin-top: -2px;
    }
    .location_info{
        width: 50%;
        text-align: center;
    }
}
